{
    "discord": {
        "token": "YOUR_DISCORD_BOT_TOKEN_HERE",
        "owner_id": 123456789
    },
    "faceit": {
        "api_key": "YOUR_FACEIT_API_KEY_HERE",
        "hubs": [
            {
                "id": "c7dc4af7-33ad-4973-90c2-5cce9376258b",
                "name": "Cache NA Challenge"
            },
            {
                "id": "55f14f39-24a0-4be6-a37f-0e558e5e2950",
                "name": "Cache EU Challenge"
            }
            // Add more hubs as needed
        ]
    },
    "project": {
        "directory": "/path/to/project/DiscordBot",
        "public_demos_directory": "/path/to/project/public_demos",
        "textfiles_directory": "/path/to/project/DiscordBot/textfiles",
        "KillCollectionParse": "/path/to/project/DiscordBot/parsed/KillCollections",
        "TickByTickParse": "/path/to/project/DiscordBot/parsed/TickByTick",
        "EnvironmentCams": "/path/to/project/DiscordBot/parsed/env",
        "KillCollectionMasterPath": "/path/to/project/DiscordBot/parsed/KillCollectionMaster.csv",
        "POVCollections": {
            "Aces": true,
            "Quads": true,
            "Triples": true,
            "Multi": true,
            "PadTicks": 256
        }
    },
    "downloader": {
        "batch_size": 100,
        "fetch_delay": {
            "min": 180,
            "max": 300
        },
        "auto_start_scraping": false
    }
}
